@model QassimPrincipality.Application.Services.Main.UploadRequest.Dto.UploadRequestDto

@{
    ViewData["Title"] = "Details";
}
<div>
    <a asp-action="RequestList">عرض الكل</a>
</div>
<br />
<h1>التفاصيل</h1>

<div>
    <h4>تفاصيل الطلب</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            رقم الطلب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.referralNumber)
        </dd>
        <dt class="col-sm-2">
            عنوان الطلب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestName)
        </dd>
        <dt class="col-sm-2">
            مقدم الطلب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedByFullName)
        </dd>
        <dt class="col-sm-2">
            رقم الهوية
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NafathNumber)
        </dd>
        <dt class="col-sm-2">
            رقم الهاتف
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            نوع الطلب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestTypeName)
        </dd>
        @*         <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreatedBy)
        </dd> *@
        <dt class="col-sm-2">
            تاريخ الطلب
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequestDate)
        </dd>
        <dt class="col-sm-2">
            الصورة الشخصية 
        </dt>
        <dd class="col-sm-10">
            @if (Model.PhotoId != null)
            {
                <a asp-action="Download" asp-route-id="@Model.PhotoId" class="btn btn-primary">تحميل الصورة الشخصية </a>
            }
        </dd>
        @*   <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.IsApproved)
        </dd> *@
        @*  <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.CreatedByFullName)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.CreatedByFullName)
        </dd> *@
        @switch (Model.IsApproved)
        {
            case null:
                <div class="row">
                    <div class="form-control">
                        @* <a class="btn btn-success" asp-action="Accept" asp-route-requestId="@Model.Id" asp->
                            قبول
                        </a> *@
                        <form asp-controller="RequestsAdmin" asp-action="" method="post">
                            <div class="form-group">
                                <label class="control-label" for="RequestName">ملاحظات	</label>
                                <input class="form-control" type="text" data-val="true" required data-val-required="هذا الحقل مطلوب" id="rejectReasons" name="rejectReasons" value="">
                                <input class="form-control" type="text" value="@Model.Id" id="requestId" name="requestId" hidden>
                                <span class="text-danger field-validation-valid" data-valmsg-for="rejectReasons" data-valmsg-replace="true"></span>
                            </div>
                            <br />
                            <div class="form-group mt-5">
                                @* <input type="submit" value="رفض" class="btn btn-danger float-right"> *@
                                <input class="btn btn-success"  type="submit" value="رفض" formaction="Reject" />
                                <input class="btn btn-danger float-right"  type="submit" value="قبول" formaction="Accept" />
                            </div>

                        </form>
                    </div>
                </div>
                break;
            case true:
                break;
            case false:
                <dt class="col-sm-2">
                    أسباب الرفض
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.RejectReason)
                </dd>
                break;
        }


    </dl>
</div>

