@inject IViewLocalizer localizer

<form id="step-form" class="pc-form">
    <div class="pc-form-grid-2col">

        @if (ViewBag.HasApplicantStatus == true)
        {
            <div class="custom-select pc-full-width-input">
                <div class="pc-input-label">
                    <span class="required">*</span> @localizer["ServiceRequesterRelation"]
                </div>

                <button id="customrequesterRelation-button" class="select-button" role="combobox" aria-label="select button"
                        aria-haspopup="listbox" aria-expanded="false" aria-controls="customrequesterRelation-dropdown">
                    <span class="selected-value">@localizer["SelectOption"]</span>
                    <span class="arrow"><img src="~/icons/arrowDown.svg" /></span>
                </button>

                <ul class="select-dropdown hidden" role="listbox" id="customrequesterRelation-dropdown" aria-labelledby="customrequesterRelation-button">
                    <li role="option" data-value="1">@localizer["MySelf"]</li>
                    <li role="option" data-value="2">@localizer["Delegated"]</li>
                    <li role="option" data-value="3">@localizer["Lawyer"]</li>
                    <li role="option" data-value="4">@localizer["FristClassRelative"]</li>
                </ul>

                <input type="hidden" id="customrequesterRelation" name="customrequesterRelation">
                <div class="error"></div>
            </div>
        }
        @if (ViewBag.HasTypeOfSummons == true)
        {
            <div class="custom-select pc-full-width-input">
                <div class="pc-input-label">
                    <span class="required">*</span> @localizer["TypeOfSummons"]
                </div>

                <button id="customTypeOfSummons-button" class="select-button" role="combobox" aria-label="select button"
                        aria-haspopup="listbox" aria-expanded="false" aria-controls="customTypeOfSummons-dropdown">
                    <span class="selected-value">@localizer["SelectSummonsType"]</span>
                    <span class="arrow"><img src="~/icons/arrowDown.svg" /></span>
                </button>

                <ul class="select-dropdown hidden" role="listbox" id="customTypeOfSummons-dropdown" aria-labelledby="customTypeOfSummons-button">
                    <li role="option" data-value="1">@localizer["JudicialSummons"]</li>
                    <li role="option" data-value="2">@localizer["AdministrativeSummons"]</li>
                    <li role="option" data-value="3">@localizer["PersonalSummons"]</li>
                    <li role="option" data-value="4">@localizer["CriminalSummons"]</li>
                </ul>

                <input type="hidden" id="customTypeOfSummons" name="customTypeOfSummons">
                <div class="error"></div>
            </div>
        }

        <div class="pc-input">
            <label for="fullName" class="pc-input-label">
                @localizer["FullName"]
            </label>
            <input type="text" id="fullName" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["FullNameTootip"]</span>
        </div>

        <div class="pc-input">
            <label for="nationality" class="pc-input-label">
                @localizer["Nationality"]
            </label>
            <input type="text" id="nationality" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["NationalityTootip"]</span>
        </div>

        <div class="pc-input">
            <label for="birthDate" class="pc-input-label">
                @localizer["BirthDate"]
            </label>
            <input type="text" id="birthDate" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["BirthDateTootip"]</span>
        </div>

        <div class="pc-input">
            <label for="idNumber" class="pc-input-label">
                @localizer["IDNumber"]
            </label>
            <input type="text" id="idNumber" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["IDNumberTootip"]</span>
        </div>

        <div class="pc-input">
            <label for="phone" class="pc-input-label">
                <span class="required">*</span> @localizer["Phone"]
            </label>
            <input type="text" id="phone" placeholder="05xxxxxxxx">
            <div class="error"></div>
        </div>

        <div class="pc-input">
            <label for="email" class="pc-input-label">
                @localizer["Email"]
            </label>
            <input type="email" id="email" placeholder="example@mail.com">
            <div class="error"></div>
        </div>

        <div class="pc-input">
            <label for="city" class="pc-input-label">
                @localizer["City"]
            </label>
            <input type="text" id="city" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["SaudiPostCity"]</span>
        </div>

        <div class="pc-input">
            <label for="district" class="pc-input-label">
                @localizer["District"]
            </label>
            <input type="text" id="district" class="pc-auto-filled-input"  readonly>
            <span class="pc-service-form-tooltip">@localizer["SaudiPostDistrict"]</span>
        </div>
    </div>

    <div class="pc-input pc-full-width-input">
        <label for="requestDetails" class="pc-input-label">
            <span class="required">*</span> @localizer["RequestDetails"]
        </label>
        <textarea id="requestDetails" placeholder="@localizer["DetailsMessagePlease"]"></textarea>
        <div class="error"></div>
    </div>

    @* <div class="pc-form-buttons">
        <a href="/Services/AboutTheService/MSNA" class="pc-outline-btn">
            @localizer["Cancel"]
        </a>
        <button type="submit" class="pc-primary-btn">
            @localizer["Next"]
        </button>
    </div> *@
</form>



    <script>
        

       
    Object.assign(inputLabelMap, {
        "nationality": '@localizer["Nationality"]',
        "prison": '@localizer["Prison"]',
        "reason": '@localizer["Reason"]'
    });

    </script>

    <script src="/js/integration-manager.js"> </script>





