@using QassimPrincipality.Application.Dtos.Content
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["NewsPageTitle"]; 
    var newsItem = ViewData["newsItem"] as NewsDto;
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
}

<div class="pc-content-page">
    <div class="pc-content-heading">
        <div class="pc-breadcrumbs">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Index"> @localizer["HomePage"]  </a>
                </li>
                <li>></li>
                <li class="pc-breadcrumbs-current"> @localizer["NewsDetails"]</li>
            </ul>
        </div>

        <div class="pc-content-title">
            <img src="~/icons/palm.svg" alt="palm icon" />
            <h2>@(currentCulture == "ar-SA" ? newsItem.NameAr : newsItem.NameEn) </h2>
        </div>
    </div>

    <div class="pc-content-body">
        <div class="pc-content-img">
            @{
                <img src="@Url.Content($"~{newsItem.ImageUrl}")" />
                
            }
        </div>

        @{

            <p class="pc-content-text">@(currentCulture == "ar-SA" ? newsItem.ShortDescriptionAr : newsItem.ShortDescriptionEn) </p>
           
         }

        <div class="pc-content-actions">
            <a asp-controller="Home" asp-action="Index" class="pc-outline-btn"> @localizer["Back"]  </a>
        </div>
    </div>

    <div class="pc-page-feedback">
        <partial name="_PageFeedback" />
    </div>
</div>
