
@using QassimPrincipality.Application.Services.Lookups.Main.CommonEService
@if (ViewData["service"] != null)
{
    var service = (CommonEServiceDto)ViewData["service"];
    <nav aria-label="breadcrumb margin-bottom-lg">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">الرئيسية</a></li>
            <li class="breadcrumb-item"><a href="/">المشاركة المجتمعية</a></li>
            <li class="breadcrumb-item active">@service.NameAr</li>
        </ol>
    </nav>
    <div class="service-header">
        <div class="service-header__title">@service.NameAr</div>
        <div class="service-header__actions"> <a href="/Request/Create" class="btn btn-outline-primary">ابدأ الخدمة</a></div>
        @*
            @Html.ActionLink(
                "ابدأ الخدمة",
                "Create",
                "Request", null
                )
        *@
        @* <a class="btn btn-lg btn-dark-green btn-wide" href="/ServiceForm/Form-ac008-20?service=Form-ac008-20&amp;Category=allservices">
    <i class="fas fa-sign-in-alt fa-lg">&nbsp;</i>ابدأ الخدمة
    </a> *@
    </div>
    <div class="row service-details">
        <div class="col-xxl-9 service-tabs-wrapper">
            <ul class="service-tabs nav nav-pills" id="pills-tab" role="tablist">
                <li class="service-tabs__item nav-item" role="presentation">
                    <button class="nav-link service-tabs__link active" id="tab1" data-bs-toggle="pill" data-bs-target="#tab1Content" type="button" role="tab" aria-controls="tab1Content" aria-selected="true">وصف الخدمة</button>
                </li>
                <li class="service-tabs__item nav-item" role="presentation">
                    <button class="nav-link service-tabs__link" id="tab2" data-bs-toggle="pill" data-bs-target="#tab2Content" type="button" role="tab" aria-controls="tab2Content" aria-selected="false">متطلبات الخدمة</button>
                </li>
                <li class="service-tabs__item nav-item" role="presentation">
                    <button class="nav-link service-tabs__link" id="tab3" data-bs-toggle="pill" data-bs-target="#tab3Content" type="button" role="tab" aria-controls="tab3Content" aria-selected="false">مخطط سير الخدمة</button>
                </li>
            </ul>
            <div class="tab-content service-tabs-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="tab1Content" role="tabpanel" aria-labelledby="tab1" tabindex="0">
                    @service.DescriptionAr
                    <div>
                        <span style="color:green">ملاحظة </span>: لاستخدام الخدمات يتوجب عليك الدخول من خلال النفاذ الوطني الموحد
                    </div>
                </div>
                <ol class="tab-pane fade" id="tab2Content" role="tabpanel" aria-labelledby="tab2" tabindex="0">
                    @Html.Raw(service.ServiceRequierment)
                </ol>
                <div class="tab-pane fade" id="tab3Content" role="tabpanel" aria-labelledby="tab3" tabindex="0">
                    <p>حسب  <a target="_blank" href="/allservices/eservices_SLA">اتفاقية مستوى الخدمة</a></p>
                    <h4>
                        قنوات بديلة للحصول على الخدمة
                    </h4>
                    <p>موقع الإمارة</p>
                    <div class="col-6">
                        <h4>
                            @service.DurationDays
                        </h4>
                        <p>حسب  <a target="_blank" href="/allservices/eservices_SLA">اتفاقية مستوى الخدمة</a></p>

                    </div>
                    <div class="form-group col-md-11">
                        <label for="companyName" class=" col-form-label-sm" style="font-size:1rem ;font-weight:bold">في حال عدم تنفيذ طلبكم في الوقت المحدد نأمل التواصل معنا &nbsp;</label>
                        @Html.ActionLink(
                                 "تقديم شكوى",
                                 "Create",
                                 "Contact", null
                                 )
                    </div>

                    <div class="form-group col-md-10">
                        <label class=" col-form-label-sm" style="font-size:1rem">في حال وجود شكوى برجاء الدخول على الرابط التالي&nbsp;</label>
                        @* <a class="" href="/Complain/beneficiaryVoice"> تقديم شكوى </a> *@
                        @Html.ActionLink(
                                 "تقديم شكوى",
                                 "Create",
                                 "Contact", null
                                 )
                    </div>
                    <div class="mt-3">
                        <a class="btn btn-lg btn-dark-green btn-wide" target="_blank" href="/Home/InstructionManual"><i class="fa fa-download fa-lg">&nbsp;</i>تحميل دليل الخدمة </a>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-xxl-3">
            <div class="service-details__meta">
                <div class="service-details__meta-setions">
                    <div class="service-details__meta-title">الفئة المستفيدة</div>
                    <div class="service-details__audience">
                        @service.Audience
                    </div>
                </div>
                <div class="service-details__meta-setions">
                    <div class="service-details__meta-title">تقييم الخدمة</div>
                    <div class="service-details__rating-stars">
                        <select id="serviceRating">
                            <option value="">Select a rating</option>
                            <option value="5">Fantastic</option>
                            <option value="4">Great</option>
                            <option value="3" selected>Good</option>
                            <option value="2">Poor</option>
                            <option value="1">Terrible</option>
                        </select>
                    </div>
                    <div class="service-details__rating">
                        <div class="service-details__rating-row">
                            <span>متوسط التقييمات:</span> 3.1
                        </div>
                        <div class="service-details__rating-row">
                            <span>عدد الأصوات:</span> 223
                        </div>
                    </div>
                </div>
                <div class="service-details__meta-setions">
                    <div class="service-details__meta-title">
                        رسوم الخدمة
                    </div>
                    <div>@service.ServiceFees</div>
                </div>
            </div>
        </aside>
    </div>
    
}
