
@using QassimPrincipality.Application.Services.Lookups.Main.CommonEService
@if (ViewData["service"] != null)
{
    var service = (CommonEServiceDto)ViewData["service"];
    <div class="row">

        <div class="col-4 order-12 row pr-5">
            <div class="text-center">


                <div>
                    @* <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i class="fa fa-users card-img-top text-secondary"></i>
                                تقييم الخدمة
                            </h5>

                            <div class="rating">
                                <input type="radio" name="rating" onclick="handleClick(this);" value="5" id="5"><label for="5">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="4" id="4"><label for="4">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="3" id="3"><label for="3">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="2" id="2"><label for="2">☆</label> <input type="radio" name="rating" onclick="handleClick(this);" value="1" id="1"><label for="1">☆</label>
                            </div>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item RateItem" id="RateItem">(223) </li>
                            <li class="list-group-item listItem" id="ListItem">3.1 متوسط التقييمات </li>
                        </ul>

                    </div> *@

                </div>
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                <div class="mt-3">
                    @Html.ActionLink(
                             "ابدأ الخدمة",                                               
                             "Create",                                    
                             "Request", null
                             )
                    @* <a class="btn btn-lg btn-dark-green btn-wide" href="/ServiceForm/Form-ac008-20?service=Form-ac008-20&amp;Category=allservices">
                        <i class="fas fa-sign-in-alt fa-lg">&nbsp;</i>ابدأ الخدمة
                    </a> *@

                </div>
                <div class="mt-3">
                    <a class="btn btn-lg btn-dark-green btn-wide" target="_blank" href="/Home/InstructionManual"><i class="fa fa-download fa-lg">&nbsp;</i>تحميل دليل الخدمة </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-7">
            <h2 class="page-title">
                <span>
                    @service.NameAr
                </span>
            </h2>
            <div class="form-group col-md-12 mt-4">
                <h3>وصف الخدمة</h3>
                <p>
                    @service.DescriptionAr
                </p>
                <p class="mt-4">
                    <span style="color:green">ملاحظة </span>: لاستخدام الخدمات يتوجب عليك الدخول من خلال النفاذ الوطني الموحد
                </p>
            </div>
            <div class="form-group col-12 mt-4">
                <h4>
                    متطلبات الخدمة
                </h4>
                <ul>
                    @Html.Raw(service.ServiceRequierment)
                    
                    @* <li>لا يقل عمر المتقدم للزواج عن 35 سنة، ولا يزيد عن 70 سنة.</li>
                    <li>تقرير طبي لطالب الزواج.</li>
                    <li>تقرير طبي عن الحالة الصحية للزوجة إذا كان متزوج.</li>
                    <li>تعريف عمل وإذا كان موظفا أهليا يجب تصديق التعريف من الغرفة التجارية أو مشهد مصدق من العمدة والشرطة بعدم وجود عمل.</li>
                    <li>صورة من بطاقة الأحوال أو كرت العائلة إذا كان متزوج.</li>
                    <li>صورة من شهادة الوفاة أو صك الطلاق لمن سبق له الزواج.</li>
                    <li>صورة شخصية للزوج.</li> *@
                </ul>
            </div>
            <div class="col-12 mt-4">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            الفئة المستفيدة
                        </h4>
                        <p>@service.Audience</p>
                    </div>
                    <div class="col-6">
                        <h4>
                            @service.DurationDays
                        </h4>
                        <p>حسب  <a target="_blank" href="/allservices/eservices_SLA">اتفاقية مستوى الخدمة</a></p>

                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-6">
                        <h4>
                            رسوم الخدمة
                        </h4>
                        <p>@service.ServiceFees</p>
                    </div>


                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <h4>
                            قنوات بديلة للحصول على الخدمة
                        </h4>
                        <p>موقع الإمارة</p>
                    </div>


                </div>
            </div>

            <div class="form-group col-md-11">
                <label for="companyName" class=" col-form-label-sm" style="font-size:1rem ;font-weight:bold">في حال عدم تنفيذ طلبكم في الوقت المحدد نأمل التواصل معنا &nbsp;</label>
                @Html.ActionLink(
                         "تقديم شكوى",
                         "Create",
                         "Contact", null
                         )
            </div>

            <div class="form-group col-md-10">
                <label class=" col-form-label-sm" style="font-size:1rem">في حال وجود شكوى برجاء الدخول على الرابط التالي&nbsp;</label>
                @* <a class="" href="/Complain/beneficiaryVoice"> تقديم شكوى </a> *@
                @Html.ActionLink(
                         "تقديم شكوى",
                         "Create",
                         "Contact", null
                         )
            </div>


        </div>

    </div>
}
