@using QassimPrincipality.Application.Dtos.Content
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["ServiceDetailsPageTitle"];
    var serviceItem = ViewData["serviceItem"] as GetEServiceDetailsDto;
    var currentCulture = System.Globalization.CultureInfo.CurrentCulture.Name;
    // Generate rating stars
    int rating = int.TryParse(serviceItem.RateValue, out var rate) ? rate : 0;
    var fullStarCount = Math.Min(rating, 5);
    var emptyStarCount = 5 - fullStarCount;
}

<div class="pc-service-page" id="pcServicePage">
    <div class="pc-service-page-container">
        <div class="pc-service-info">
            <div class="pc-service-info-heading">
                <div class="pc-breadcrumbs">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index"> @localizer["HomePage"]  </a>
                        </li>
                        <li>></li>
                        <li>
                            <a asp-controller="Services" asp-action="Index">  @localizer["Services"]</a>
                        </li>
                        <li>></li>
                        <li class="pc-breadcrumbs-current"> @(currentCulture == "ar-SA" ? serviceItem.NameAr : serviceItem.NameEn)</li>
                    </ul>
                </div>
                <div class="pc-service-page-title">
                    <h3> @(currentCulture == "ar-SA" ? serviceItem.NameAr : serviceItem.NameEn)</h3>
                    @{

                        <a asp-controller="Request" asp-action="Index" asp-route-serviceId="@serviceItem.Id" class="pc-primary-btn">@localizer["StartServices"] </a>
                        
                        
                    }
                </div>
                <p class="pc-grey-tag"> @(currentCulture == "ar-SA" ? serviceItem.CategoryNameAr : serviceItem.CategoryNameEn) </p>
                <p>@(currentCulture == "ar-SA" ? serviceItem.DescriptionAr : serviceItem.DescriptionEn) </p>
                <div>
                    <a asp-controller="Home" asp-action="ServiceLevelAgreement" class="pc-link">
                        @localizer["ServicesSLA"] 
                        <img src="~/icons/linkSquare.svg" alt="icon" width="20" height="20" />
                    </a>
                </div>
            </div>

            <div class="pc-service-info-body">
                <div class="pc-service-info-divisions">
                    <button class="pc-service-info-divisions-btn" id="pc-service-requirements-btn"> @localizer["ServicesRequirements"] </button>
                    <button class="pc-service-info-divisions-btn" id="pc-service-steps-btn"> @localizer["ServicesFlow"]</button>
                    <button class="pc-service-info-divisions-btn" id="pc-service-FAQ-btn"> @localizer["ServicesFAQs"] </button>
                </div>

                <div class="pc-service-requirements">
                    <ol>
                        @foreach (var itemRequirement in serviceItem.ServiceRequirement)
                        {
                            <li>@itemRequirement</li>
                        }
                        
                    </ol>
                </div>

                <div class="pc-service-steps">
                    <ol>
                        @foreach (var itemFlow in serviceItem.ServiceFlow)
                        {
                            <li>@itemFlow</li>
                        }
                        @* <li>قم بتسجيل الدخول إلى خدمات إمارة منطقة القصيم عبر البوابة الوطنية (نفاذ).</li>
                        <li> اختر خدمة "طلب الخروج المؤقت للسجين" من قائمة الخدمات الإلكترونية.</li>
                        <li> اضغط على "بدء الخدمة" وقم بتعبئة البيانات المطلوبة وإرفاق المستندات اللازمة.</li>
                        <li> بعد التأكد من صحة المعلومات والمرفقات، اضغط على "إرسال الطلب"</li>
                        <li>سيتم إشعارك برقم الطلب بعد إرساله.</li>
                        <li>يمكنك متابعة حالة طلبك من خلال صفحة "طلباتي".</li>
                        <li>عند اعتماد الطلب، سيتم تحويله إلى معاملة وستتلقى إشعارًا برقم المعاملة.</li> *@
                    </ol>
                </div>

                <div class="pc-service-FAQ">

                    @foreach (var itemFAQ in serviceItem.ServiceFAQs)
                    {

                        <div class="pc-accordion">
                            <div class="pc-accordion-head">
                                <p class=pc-accordion-question>@(currentCulture == "ar-SA" ? itemFAQ.NameAr : itemFAQ.NameEn)</p>
                                <img src="~/icons/arrowDown.svg" alt="money icon" />
                            </div>
                            <div class="pc-accordion-body">
                                <p class="pc-accordion-answer">@(currentCulture == "ar-SA" ? itemFAQ.AnswerAr : itemFAQ.AnswerEn)</p>
                            </div>
                        </div>
                    //Console.WriteLine($"{requirement.Key}: {requirement.Value}");
                    }

                   
                   @*  <div class="pc-accordion">
                        <div class="pc-accordion-head">
                            <p class=pc-accordion-question>هل تقديم العنوان الوطني إلزامي؟</p>
                            <img src="~/icons/arrowDown.svg" alt="money icon" />
                        </div>
                        <div class="pc-accordion-body">
                            <p class="pc-accordion-answer">نعم، تقديم العنوان الوطني إلزامي كجزء من متطلبات الطلب.</p>
                        </div>
                    </div>
                    <div class="pc-accordion">
                        <div class="pc-accordion-head">
                            <p class=pc-accordion-question>هل تقديم العنوان الوطني إلزامي؟</p>
                            <img src="~/icons/arrowDown.svg" alt="money icon" />
                        </div>
                        <div class="pc-accordion-body">
                            <p class="pc-accordion-answer">نعم، تقديم العنوان الوطني إلزامي كجزء من متطلبات الطلب.</p>
                        </div>
                    </div>
                    <div class="pc-accordion">
                        <div class="pc-accordion-head">
                            <p class=pc-accordion-question>هل تقديم العنوان الوطني إلزامي؟</p>
                            <img src="~/icons/arrowDown.svg" alt="money icon" />
                        </div>
                        <div class="pc-accordion-body">
                            <p class="pc-accordion-answer">نعم، تقديم العنوان الوطني إلزامي كجزء من متطلبات الطلب.</p>
                        </div>
                    </div> *@
                </div>
            </div>
        </div>

        <div class="pc-info-card">
            <div>
                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/userGreen.svg" alt="user icon" />
                        <h6>@(currentCulture == "ar-SA" ? serviceItem.AudienceTypeAr : serviceItem.AudienceTypeEn) </h6>
                    </div>
                    <p> @localizer["AudienceType"] </p>
                </div>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/clock.svg" alt="clock icon" />
                        <h6>@(currentCulture == "ar-SA" ? serviceItem.ExecutionTimeAr : serviceItem.ExecutionTimeEn)</h6>
                    </div>
                    <p>@localizer["ExecutionTime"] </p>
                </div>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/money.svg" alt="money icon" />
                        <h6>@(currentCulture == "ar-SA" ? serviceItem.CostAr : serviceItem.CostEn)</h6>
                    </div>
                    <p> @localizer["Cost"]</p>
                </div>

            </div>

            <svg width="100%" height="1">
                <line x1="0" y1="0" x2="100%" y2="0" stroke="#D2D6DB" stroke-width="2" />
            </svg>

            <div>
                <h5>@localizer["ServiceRating"] </h5>
                <div class="pc-card-rating">
                    @for (int i = 0; i < fullStarCount; i++)
                    {
                        <img src="~/icons/star-filled.svg" alt="star" />
                    }
                    @for (int i = 0; i < emptyStarCount; i++)
                    {
                        <img src="~/icons/star.svg" alt="empty star" />
                    }
                </div>
                @* <div class="pc-card-rating">
                    <img src="~/icons/star.svg" alt="star" />
                    <img src="~/icons/star.svg" alt="star" />
                    <img src="~/icons/star.svg" alt="star" />
                    <img src="~/icons/star.svg" alt="star" />
                    <img src="~/icons/star.svg" alt="star" />
                </div>
                <p> تقييم x</p> *@
            </div>

            <svg width="100%" height="1">
                <line x1="0" y1="0" x2="100%" y2="0" stroke="#D2D6DB" stroke-width="2" />
            </svg>

            <div class="pc-info-card-section">
                <div>
                    <h5> @localizer["Regulations"] </h5>
                    <div>
                        <a class="pc-link" href="https://www.alqassim.gov.sa/Ar/Regulations/Pages/default.aspx">
                            Regulation-Page
                            <img src="~/icons/linkSquare.svg" alt="link icon" />
                        </a>
                    </div>
                </div>

                <div>
                    <h5> @localizer["FAQs"]</h5>
                    <div>
                        <a asp-controller="Home" asp-action="Index" class="pc-link">
                            FAQ's-Page
                            <img src="~/icons/linkSquare.svg" alt="link icon" />
                        </a>
                    </div>
                </div>

                <div>
                    <h5>@localizer["ContactUs"] </h5>
                    <div>
                        <a class="pc-link" href="https://www.alqassim.gov.sa/EParticipation/contact-us.html">
                            Contact-Us-Page
                            <img src="~/icons/linkSquare.svg" alt="link icon" />
                        </a>
                    </div>
                </div>

                @* change based on the service *@
                <a href="~/userManuals/TR-LR.pdf" target="_blank" class="pc-outline-btn"> @localizer["UserManuals"] </a>
                <a href="~/userManuals/TR-LR.pdf" target="_blank" class="pc-outline-btn"> @localizer["EServicesManuals"] </a>
            </div>
        </div>
    </div>

    <div class="pc-page-feedback">
        <partial name="_PageFeedback" />
    </div>
</div>
