@model QassimPrincipality.Application.Dtos.ContactUsModel
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Suggestions"] + " - ";
}
<style>
    .contact-container {
        background-color: #f9fdfb;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0,0,0,0.05);
    }

    .contact-info h5 {
        font-weight: bold;
    }

    .contact-info i {
        margin-left: 10px;
        color: green;
    }

    .social-icons img {
        width: 32px;
        margin-left: 10px;
    }

    label {
        font-weight: 600;
    }

    button.pc-primary-btn {
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 10px;
        background-color: #198754; /* Bootstrap green */
        border: none;
        color: white;
    }

    .pc-form-container .form-group {
        margin-bottom: 1.5rem;
    }

</style>

<div class="pc-service-page">
    <div class="pc-service-page-container">
        <div class="pc-service-info">
            <div class="pc-service-info-heading">
                <div class="pc-breadcrumbs">
                    <ul>
                        <li>
                            <a asp-controller="Home" asp-action="Index">@localizer["Home"]</a>
                        </li>
                        <li>></li>
                        <li>
                            <a asp-controller="EParticipation" asp-action="Index">@localizer["EParticipation"]</a>
                        </li>
                        <li>></li>
                        <li class="pc-breadcrumbs-current">@localizer["Suggestions"]</li>
                    </ul>
                </div>

                <div class="pc-content-title">
                    <img src="~/icons/palm.svg" alt="palm icon" />
                    <h2>@localizer["Suggestions"]</h2>
                </div>

                <div class="pc-content-description">
                    <p>@localizer["SuggestionsDescription"]</p>
                </div>
            </div>

            <div class="pc-form-container">
                <div class="form-container">
                    <form  id="suggestionsForm" method="post">
                        <div class="form-group">
                            <label asp-for="FirstName">@localizer["FirstName"] <span class="text-danger">*</span></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="LastName">@localizer["LastName"] <span class="text-danger">*</span></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Email">@localizer["Email"] <span class="text-danger">*</span></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="MessageType">@localizer["MessageType"] <span class="text-danger">*</span></label>
                            <select asp-for="MessageType" class="form-control">
                                <option value="">@localizer["SelectMessageType"]</option>
                                <option value="Inquiry">@localizer["Inquiry"]</option>
                                <option value="Suggestion">@localizer["Suggestion"]</option>
                            </select>
                            <span asp-validation-for="MessageType" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Subject">@localizer["Subject"] <span class="text-danger">*</span></label>
                            <input asp-for="Subject" class="form-control" />
                            <span asp-validation-for="Subject" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Message">@localizer["Message"] <span class="text-danger">*</span></label>
                            <textarea asp-for="Message" class="form-control"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>

                        <button type="submit" class="pc-primary-btn">@localizer["Send"]</button>
                    </form>

                    <div id="successMessage" style="display:none; margin-top: 20px;" class="alert alert-success text-center">
                        <img src="~/icons/checkmarkCircle.svg" width="64" />
                        <h4>@localizer["ThankYou"]</h4>
                        <p>@localizer["MessageReceived"]</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="pc-info-card">
            <div>
                <h5>@localizer["ContactChannels"]</h5>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/call.svg" alt="phone icon" />
                        <h6>@localizer["Hotline"]</h6>
                    </div>
                    <p>0163231818</p>
                </div>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/mail.svg" alt="mail icon" />
                        <h6>@localizer["Email"]</h6>
                    </div>
                    <p>info@alqassim.gov.sa</p>
                </div>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/mail.svg" alt="fax icon" />
                        <h6>@localizer["Fax"]</h6>
                    </div>
                    <p>00966163249056 - 00966163250619</p>
                </div>

                <div>
                    <div class="pc-text-icon-combo">
                        <img src="~/icons/location.svg" alt="location icon" />
                        <h6>@localizer["Location"]</h6>
                    </div>
                    <p>@localizer["Address"]</p>
                </div>
            </div>

            <svg width="100%" height="1">
                <line x1="0" y1="0" x2="100%" y2="0" stroke="#D2D6DB" stroke-width="2" />
            </svg>

            <div>
                <h5>@localizer["FollowUs"]</h5>
                <div class="pc-footer-social-media">
                    <a href="https://www.instagram.com/EmarahAlQassim">
                        <img src="~/icons/instagramGreen.svg" width="32" height="32" alt="instagram" />
                    </a>
                    <a href="https://www.snapchat.com/add/emarahalqassim">
                        <img src="~/icons/snapchatGreen.svg" width="32" height="32" alt="snapchat" />
                    </a>
                    <a href="https://x.com/EmarahAlQassim">
                        <img src="~/icons/xGreen.svg" width="32" height="32" alt="x" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="pc-page-feedback">
        <div>
            <div class="pc-page-feedback-section">
                <p>@localizer["WasThisHelpful"]</p>
                <div class="pc-page-feedback-btns">
                    <button class="pc-primary-btn">@localizer["Yes"]</button>
                    <button class="pc-primary-btn">@localizer["No"]</button>
                </div>
            </div>
        </div>
        <div class="pc-page-feedback-section">
            <p class="pc-page-feedback-result">x% @localizer["UsersSaidYes"]</p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#suggestionsForm').submit(function (e) {
                var form = $('#suggestionsForm');
                e.preventDefault();

                $.ajax({
                    url: '@Url.Action("SubmitContact", "EParticipation")',
                    method: 'POST',
                    data: $(this).serialize(),
                    success: function (res) {
                        $('#suggestionsForm').hide();
                        $('#successMessage').show();
                    },
                    error: function () {
                        // alert('@localizer["ErrorOccurred"]');
                    }
                });
            });
        });
    </script>
}
