@using QassimPrincipality.Web.ViewModels.Account
@model NafathLoginVM
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["LoginWithNafath"];
}

<div class="account-login">
    <div class="row justify-content-xxl-center">
        <div class="col-xxl-8">
            <div class="page-panel">
                <h3 class="page-title margin-bottom-lg">@localizer["PageTitle"]</h3>
                @if (TempData["Error"] != null)
                {
                    <div class="alert alert-danger">
                        <span><b>@localizer["Sorry"]</b> - @TempData["Error"] </span>
                    </div>
                }
                <div>
                    @if (!String.IsNullOrEmpty(ViewBag.Message) && !string.IsNullOrEmpty(ViewBag.Random))
                    {
                        <script>
                            var objData = { userName: '@ViewBag.UserName', random: '@ViewBag.Random', transId: '@ViewBag.TransId' };
                            document.addEventListener("DOMContentLoaded", () => {
                                $("#msg").html('@Html.Raw(ViewBag.Message)');
                                var timeleft = 68;
                                var downloadTimer = setInterval(function () {
                                    if (timeleft <= 0) {
                                        clearInterval(downloadTimer);
                                    }
                                    document.getElementById("progressBar").value = 68 - timeleft;
                                    timeleft -= 1;
                                }, 1000);

                                $.get("/Account/CheckNafathRequest", objData,
                                    function (data) {
                                        console.log(data)
                                        if (data.status === 'COMPLETED') {
                                            window.location.href = window.location.origin
                                                + '/Account/CompleteLogin?username=@ViewBag.UserName&&rememberLogin=@ViewBag.RememberLogin&&random=@ViewBag.Random&&transId=@ViewBag.TransId';
                                        }
                                        else {
                                            console.log(data)
                                            //window.location.href = window.location.origin
                                        }
                                    });
                            });
                        </script>

                        <div class="nafath-container">
                            <div id="msg" class="nafath-title h4 text-center">
                                @Html.Raw(ViewBag.Message)
                            </div>
                        </div>
                        <div class="row">
                            <progress value="0" max="68" id="progressBar" style="width:100%"></progress>
                        </div>
                    }

                    else
                    {
                        <form asp-action="NafathLogin" class="form">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group">
                                <label asp-for="IdentityNumber" class="form-label">@localizer["IdentityNumber"]</label>
                                <input asp-for="IdentityNumber" class="form-control" />
                                <span asp-validation-for="IdentityNumber" class="text-danger"></span>
                            </div>

                            <div class="form-group mt-3">
                                <input class="btn btn-primary" type="submit" value="@localizer["LoginWithNafath"]" />
                                <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Index">@localizer["Cancel"]</a>
                            </div>
                        </form>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
